//Mixins
@mixin wavy-underline {
    text-decoration-style: wavy;
    text-decoration-color: #e84393;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
}

@mixin btn-base {
    color: #fff;
    font-size: 10px;
    border-radius: 3px;
    // background-color: #000;
    padding: 2px 8px;
    text-transform: uppercase;
}