/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
body {
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 0;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.items .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.items .item:hover {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}
.items .item a {
  width: inherit;
  height: inherit;
}
.items .item a img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}