/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

//Mixin
@mixin shadow-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

body {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.items {
    display: flex;
    gap: 40px;

    .item {
        flex: 1;
        height: 400px;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.5s;

        &:hover {
            @include shadow-item();
            transform: translateY(-15px);
        }

        a {
            width: inherit;
            height: inherit;

            img {
                width: inherit;
                height: inherit;
                object-fit: cover;

            }
        }

    }
}