/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

* {
    font-family: "Raleway", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
}

/* Buttons CSS */
.basic {
    border: none;
    background-color: transparent;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: #fff;
    width: 170px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
    transition: 0.35s;

    &:active {
        box-shadow: none
    }
}

.success {
    @extend .basic;
    background-color: #2ecc71;
}

.error {
    @extend .basic;
    background-color: #f79f1f;
}

.warning {
    @extend .basic;
    background-color: #EE5A24;
}

.critical-error {
    @extend .basic;
    background-color: #EA2027;
}