/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

// @import url("reset.css");

// @import "reset.scss";
// @import "reset";

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    outline: none;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}
