/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
body {
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social li {
  border: 1px solid #000;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.social li a {
  color: #000;
  text-transform: uppercase;
}