/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}

a {
    text-decoration: none;
}

.btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

/* Frame Div */

.frame {
    display: flex;
    gap: 10px;

    div {
        // border: 1px solid #000;
        flex: 1;
        height: 150px;
        border-radius: 5px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
        // div안의 글씨를 수직수평중앙
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.35s;

        &:hover {
            color: #fff;
            transform: translateY(-5px);
        }

        &:nth-child(1) {
            background-color: crimson;
        }

        &:nth-child(2) {
            background-color: yellowgreen;
        }

        &:nth-child(3) {
            background-color: royalblue;
        }
    }
}