/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

@import "variables";
@import "mixins";

* {
    box-sizing: border-box;
}

body {
    @include default();
    margin: 0;
    height: 100vh;
    display: grid;
    justify-content: center;
}

/* Portfolio section */
.portfolio {
    margin: 15px;

    h1 {
        @include heading();
        font-size: $font-base * 5;
    }

    .items {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 15px;

        div {
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            position: relative;

            a {
                img {
                    width: 100%;
                    display: block;
                }
            }

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0.2);
                font-size: 40px;
                color: $color-base;
                opacity: 0;
            }

            span {
                position: absolute;
                bottom: -40px;
                width: 100%;
                text-align: center;
                padding: 10px;
                color: $color-base;

            }

            span,
            i,
            &:before {
                transition: 0.35s;
                pointer-events: none;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.4);
                opacity: 0;
            }

            &:hover::before {
                opacity: 1;
            }

            &:hover i {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }

            &:hover span {
                bottom: 0;
            }
        }

        .focus {
            grid-area: span 2 / span 2;
            /* grid-column: span 2;
            grid-row: span 2; */
        }
    }
}

/* Tablet Breakpoint */
@media (min-width: 768px) and (max-width : 1366px) {
    body {
        height: auto;
    }

    .portfolio {
        h1 {
            font-size: $font-base * 4;
        }

        .items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

/* Mobile Breakpoint */
@media (max-width : 768px) {
    body {
        height: auto;
    }

    .portfolio {
        h1 {
            font-size: $font-base * 2.5;
        }

        .items {
            grid-template-columns: repeat(1, 1fr);

            .focus {
                grid-area: span 1 / span 1;
            }
        }


    }
}

/* featherlight Custom CSS */
.featherlight .featherlight-content {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-height: 100% !important;
    width: 100%;
    height: 100%;
}

.featherlight .featherlight-inner {
    width: 100%;
    height: 100%;
}

.featherlight .featherlight-close-icon {
    top: 90% !important;
    left: 30px !important;
    line-height: 50px !important;
    width: 50px !important;
    font-size: 28px;
    background-color: crimson !important;
    color: #fff !important;
    border-radius: 50%;
}