/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

* {
    font-family: "Raleway", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
    background-color: #222;
}

.heart-beat {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #ff4757;
    transform: rotate(45deg);
    box-shadow: 0 -10px 100px #ff4757, 0 -10px 150px #ff4757, 0 -10px 200px #ff4757;
    animation: heart-beat 0.6s linear infinite;

    @keyframes heart-beat {
        0% {
            transform: rotate(45deg) scale(1);
        }

        50% {
            transform: rotate(45deg) scale(1.05);
        }

        100% {
            transform: rotate(45deg) scale(0.95);
        }

    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: inherit;
        border-radius: 50%;
    }

    &::before {
        top: -50%;
    }

    &::after {
        left: -50%;
    }
}