body {
    font-size: 18px;
    color: #000;
    line-height: 1.6em;
}

h1 {
    font-size: 60px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;

    span {
        color: crimson;
        transform: translate(200px, 100px);

        &:hover {
            color: royalblue;
        }
    }
}