/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    font-family: 'Raleway',
        sans-serif;
    ;
}

body {
    display: flex;
    justify-content: center;
    /*align-items: center;
    height: 100vh; */
    margin: 0;
    font-size: 18px;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Only CSS Accordion Navigation */
.items {
    width: 250px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #535c68;
    border-radius: 5px;
    overflow: hidden;

    .close-item {
        background-color: crimson;
        text-align: center;
    }

    .main-item>a {
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.115);

        &:after {
            position: absolute;
            content: "\f107";
            font-family: fontawesome;
            right: 10px;

        }
    }

    & li a {
        color: #fff;
        text-transform: capitalize;
        padding: 10px;
        display: block;
    }

    .sub-items {
        background-color: #626e7e;
        max-height: 0;
        overflow: hidden;
        transition: 0.35s;

        &:target {
            max-height: 300px;
        }

        a {
            border-bottom: 1px solid rgba(0, 0, 0, 0.115);

            &:last-child {
                border: none;
            }
        }
    }
}