/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
body {
  background-color: #dfe6e9;
  margin: 0;
  font-family: "Noto Sans KR";
}

.frame h1 {
  color: #2d3436;
  font-size: 45px;
  font-family: "Montserrat";
}
.frame h2 {
  font-size: 32px;
}
.frame h3 {
  font-size: 22px;
}