/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
* {
  font-family: "Raleway", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 0;
}

/* Login Form */
.login {
  width: 350px;
  padding: 25px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.login h1 {
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  margin-top: 0;
}
.login input:not([type=submit]) {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  padding-left: 35px;
}
.login input:not([type=submit]):hover {
  border: 1px solid skyblue;
  -webkit-box-shadow: 0 0 5px skyblue;
          box-shadow: 0 0 5px skyblue;
}
.login input:not([type=submit])[type=text] {
  background: url(../images/icon-user.svg) no-repeat center left 5px;
}
.login input:not([type=submit])[type=email] {
  background: url(../images/icon-email.svg) no-repeat center left 5px;
}
.login input:not([type=submit])[type=password] {
  background: url(../images/icon-password.svg) no-repeat center left 5px;
}
.login input[type=submit] {
  background-color: skyblue;
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px;
  cursor: pointer;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
.login input[type=submit]:hover {
  background-color: #000;
}