/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
// 'Montserrat', sans-serif;

$font-base : 15px;
$font-family-base : "Raleway";
$font-family-headline : 'Montserrat';

@mixin font-default {
    font : {
        family: $font-family-base;
        size: $font-base;
        weight: 300;
    }

    line-height: 1.6em;
}

@mixin font-headline {
    font: {
        family: $font-family-headline;
        weight: 600
    }
}

@mixin large-headline {
    @include font-headline();
    font-size: $font-base * 3;
    color: crimson;
}

@mixin medium-headline {
    @include font-headline();
    font-size: $font-base * 2;
    color: royalblue;
}

@mixin small-headline {
    @include font-headline();
    font-size: $font-base * 1.5;
    color: yellowgreen;
}

body {
    @include font-default();
}

h1 {
    @include large-headline();
}

h2 {
    @include medium-headline();
}

h3 {
    @include small-headline();
}