/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

* {
    font-family: 'Raleway',
        sans-serif;
    ;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Login Form */
.login {
    // border: 1px solid #000;
    width: 350px;
    // height: 350px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    h1 {
        text-align: center;
        font-weight: normal;
        font-size: 28px;
        margin-top: 0;
    }

    input:not([type=submit]) {
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        outline: none;
        transition: 0.35s;
        padding-left: 35px;

        &:hover {
            border: 1px solid skyblue;
            box-shadow: 0 0 5px skyblue;
        }

        &[type=text] {
            background: url(../images/icon-user.svg) no-repeat center left 5px;
        }

        &[type=email] {
            background: url(../images/icon-email.svg) no-repeat center left 5px;
        }

        &[type=password] {
            background: url(../images/icon-password.svg) no-repeat center left 5px;
        }


    }

    input[type=submit] {
        background-color: skyblue;
        color: #fff;
        border: none;
        width: 100%;
        padding: 12px;
        cursor: pointer;
        transition: 0.35s;

        &:hover {
            background-color: #000;
        }
    }
}