/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
/* Custom Reset CSS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

button,
input {
  outline: none;
}

button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  /*  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

/* section {
    h1 {
        font-weight: bold;
        font-size: 32px;
        margin: 10px 0;
    }
} */